@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html {
	width: 1024px;
	height: 768px;
	overflow: hidden;
}
body {
	background-color: white;
	font-family: "Open Sans", sans-serif;
}

.wrapper {
	/* border: 3px solid blue; */

	display: grid;
	grid-template-columns: 280px 1fr 1fr 1fr 1fr 1fr;

	grid-template-areas:
		"medicina-gral . . . . .  "
		"geriatra  . . . . .  "
		"traumatologia . . . . . "
		"neurologia . . . . . "
		"odontologo . . . . . "
		"angiologo . . . . . "
		"cirujano . . . . . "
		"cirujano_plastico . . . . . "
		"cardiologia . . . . . ";
}

.linea {
	border-bottom: solid 1.3px #c5daad;
	height: 7px;
	margin-top: -20px;
}

.linea-cat {
	border-bottom: solid 1.3px #c5daad;
	display: flex;
	justify-content: center;
}

.linea-cat--doble {
	display: flex;
	justify-content: center;
}

figure {
	margin: 10px 0;
	padding: 0;
	display: flex;
	align-items: center;
}

figure.img-encabezado {
	margin-top: -20px;
	padding: 0;
}

.contenedor {
	margin: 10px 25px;
}

.encabezado {
	display: flex;
	justify-content: space-between;
}

.img-cat {
	max-width: 100px;
}

.img-titulo-cat {
	margin-right: 13px;
	max-width: 60px;
}

.txt-1 {
	font-size: 24px;
	color: #499c48;
}

.categoria {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: solid 1.3px #c5daad;
}

.medicina-gral {
	font-size: 0.8rem;
	color: #b3cb62;
	grid-area: medicina-gral;
}
.geriatra {
	font-size: 0.8rem;
	color: #8eb459;
	grid-area: geriatra;
}
.traumatologia {
	font-size: 0.8rem;
	color: #6d9879;
	grid-area: traumatologia;
}

.neurologia {
	font-size: 0.8rem;
	color: #006837;
	grid-area: neurologia;
}

.odontologo {
	font-size: 0.8rem;
	color: #982c86;
	grid-area: odontologo;
}

.angiologo {
	font-size: 0.8rem;
	color: #e34850;
	grid-area: angiologo;
}

.cirujano {
	font-size: 0.8rem;
	color: #245577;
	grid-area: cirujano;
}

.cirujano_plastico {
	font-size: 0.8rem;
	color: #245577;
	grid-area: cirujano_plastico;
}
.cardiologia {
	font-size: 0.8rem;
	color: #982c86;
	grid-area: cardiologia;
}
